.warning,.error {
    -fx-background-color: #FF000055;
    -fx-prompt-text-fill: grey;
}

/* TAB PANE */
.jfx-tab-pane .headers-region {
    -fx-background-color: #064478;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #064478;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: white;
    -fx-pref-height: 4;
}
.jfx-tab-pane .headers-region .tab:selected {
    -fx-background-color: #2274A5;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

#topAnchor {
    -fx-background-color: rgba(139, 146, 167, 0.66);
}
#buttonHbox > #scheduleSaveBtn, #scheduleBackBtn{
    -fx-background-color:  rgba(139, 146, 167, 0.66);
}
#buttonHbox > #scheduleSaveBtn:hover, #scheduleBackBtn:hover{
    -fx-background-color:  #BFC6DB;
}
#buttonHbox > #scheduleSaveBtn:pressed, #scheduleBackBtn:pressed{
    -fx-background-color:  #596075;
    -fx-text-fill: white;
}
#saveButton, #cancelButton {
    -fx-background-color: #8C93A8;
    -fx-font-size: 120%;
}
#saveButton:hover, #cancelButton:hover {
    -fx-background-color: #BFC6DB;

    /*-fx-border-color: #262D42;*/
}

#cancelButton:pressed, #saveButton:pressed {
    -fx-background-color: #596075;
}




/* UNCOMMENT WHEN WE HAVE NUTZERZENTRIERT SEMINAR
*, root, .root {
    -fx-font-family: "Comic Sans MS";
}
*/